$font-stack: Arial, sans-serif; 

@media screen and (max-width: 600px) {
    .content {
        height: 350px;
    }
}
.container {
   width: 100%;
   max-width: 1500px;
   height: 100%;
   border: 1px solid black;
}

.header {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 1500px;
    background-color: black; /*rgb(193, 225, 235); */
    border: 1px solid black;
}

.content {
    display: flex;
    
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: ; */
    flex-direction: column;
    font-size: 220% ;
    width: 100%;
    max-width: 1500px;
    /* height: 600px ; */
    height: 600px;     /*100vh;
    /* height: 100%;
    min-height: 100%; */
    max-height: 1200px;
    background-image: url(https://www.wiwo.de/images/imago0103776086h/26150822/2-format1001.jpg);
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
    
    /* height: 100%;
    max-height: 1500px;
    width: 100%;
    max-width: 1500px; */
}
.background-image{
    width: 100%;
    max-width: 100%;
}
.footer{
    display: flex;
    width: 100%;
    max-width: 1500px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 42, 42);
    height: 100%;
    border: 1px solid black;
}
.box1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between 20px ;
}

#link {

    margin: 10px;
    text-decoration: none;
    font-size: 120%;
    color: white;
}
#left-aligned {
    display: flex;
    margin-left: 20px;
}