// Styling All Footer

footer
	border-left: 10px dotted #C6FFD7
	border-right: 10px dotted #C6FFD7
	text-align: center
	border-top: 10px lightblue solid
	margin: 5% 5% 0 5%

	h3
		font-size: 3em

	p
		margin: 3% 5% 2% 5%
